extends layout

block head
  link(rel="stylesheet", href="/stylesheets/files.css")
  script(src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="/javascripts/files.js")

block content
  div#container
    div#main
      div#header
        a(onclick="backDirectory();")
          img(src="/img/back.svg", alt="Back")
        span#path
        a.rename(onclick="renameDirectory();")
          img(src="/img/create.svg", alt="Rename Directory")
        a(onclick="addMemo();")
          img(src="/img/memo.svg", alt="Add Memo")
        a(onclick="addDirectory();")
          img(src="/img/box.svg", alt="Add Directory")
        a.delete(onclick="deleteDirectory();")
          img(src="/img/clear.svg", alt="Delete Directory")
      div#items
      div#memo
        div#memo-header
          a#back(onclick="hideMemo();")
            img(src="/img/back.svg", alt="Back")
          div#memo-title
          div
            a.rename(onclick="renameMemo();")
              img(src="/img/create.svg", alt="Rename Memo")
            a#save(onclick="saveMemo();")
              img(src="/img/save.svg", alt="Save Memo")
            a.delete(onclick="saveMemo();")
              img(src="/img/clear.svg", alt="Delete Memo")
        textarea#memo-contents
