@charset "UTF-8";
/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}
a{
  display: block;
  cursor: pointer
}
img{
  display: block;
}
/* Style */
#container{
  margin: 8px;
}
  #main{
    max-width: 960px;
    margin: 0 auto;
    padding: 8px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
  }
    #header{
      height: 40px;
      width: 100%;
      display: flex;
      align-items: center;
    }
      #header > a{
        background: #35A566;
        border-radius: 5px;
        overflow: hidden;
      }
      #header > a:hover{
        background: #359566;
      }
      #main .rename{
        background: #2196F3;
      }
      #main .rename:hover{
        background: #1976D2;
      }
      #main .delete{
        background: #F44336;
      }
      #main .delete:hover{
        background: #D32F2F;
      }
      #header > a:not(:first-child){
        margin-left: 4px;
      }
      #path{
        margin: 0 auto 0 16px;
        color: rgba(0, 0, 0, 0.54);
      }
    #items{
      margin: 8px 0 0;
      border-radius: 5px;
      overflow: hidden;
    }
      #items > a{
        height: 32px;
      }
      #items > a:not(:last-child){
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      }
      #items > a:hover{
        background: rgba(53, 149, 102, 0.1);
      }
      #items > #nocontents{
        padding: 32px 0;
        color: rgba(0, 0, 0, 0.54);
        text-align: center;
      }
      #items > .folder, #items > .text{
        display: flex;
        align-items: center;
      }
      .folder::before{
        height: 24px;
        width: 24px;
        content: "";
        margin: 0 8px 0 4px;
        display: block;
        background: url("../img/folder.svg") no-repeat;
      }
      .text::before{
        height: 24px;
        width: 24px;
        content: "";
        margin: 0 8px 0 4px;
        display: block;
        background: url("../img/text.svg") no-repeat;
      }
    #memo{
      min-height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      padding: 8px;
      background: #FFFFFF;
      border-radius: 5px;
      box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      display: none;
    }
      #memo-header{
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgba(0, 0, 0, 0.54);
        font-weight: bold;
      }
        #memo-header > div{
          display: flex;
        }
          #memo-header a{
            border-radius: 5px;
            overflow: hidden;
          }
          #memo-header a:not(:first-of-type){
            margin-left: 4px;
          }
          #back{
            background: #35A566;
          }
          #back:hover{
            background: #359566;
          }
          #save{
            background: #2196F3;
          }
          #save:hover{
            background: #1976D2;
          }
      #memo-contents{
        min-height: 540px;
        width: 100%;
        margin: 8px 0 0;
        color: rgba(0, 0, 0, 0.87);
        resize: vertical;
        font-size: 16px;
      }
